html {
  background-color: #061e0a;
  color: #27b73f;
  font-family: myFont;
  padding: 20px;
}

body::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("debian.jpg"); 
  background-size: cover;
  background-position: center;
  opacity: 0.2; 
  z-index: -1; 
}

h1,
h2 {
  font-size: 2rem;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid #27b73f; 
  width: 0; 
  animation: typing 3s steps(30, end), blink 0.6s step-end infinite;
  animation-fill-mode: forwards; 
  font-size: 60px;
}

p {
  font-size: 30px;
}

.glow-btn {
  background: #061e0a;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: myFont;
  font-size: 20px;
  color: #27b73f;
  a {
    color: #27b73f;
  }
}

main {
  height: 400px;
  text-align: center;
}

.commandes {
  padding-bottom: 0;
}

footer {
  padding-top: 768px;
}

img {
  width: 300px;
  padding: 30px;
  opacity: 0; 
  transform: translateY(10px); 
  animation: fadeIn 0.6s ease forwards; 
  box-shadow: 10px 10px 10px black; 
  border-radius: 20%;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #27b73f; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  } 
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@font-face {
  font-family: "myFont";
  src: url("pixelFont.otf");
}
