html {
  background-color: #061e0a;
  font-family: myFont;
  padding: 20px;
}

.body::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url("debian.jpg"); 
  background-size: cover;
  background-position: center;
  opacity: 0.2; 
  z-index: -1; 
}

h1,
h2 {
  font-size: 2rem;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid rgb(190, 218, 204); 
  width: 0; 
  animation: typing 3s steps(30, end), blink 0.6s step-end infinite;
  animation-fill-mode: forwards; 
  font-size: 60px;
}

.container {
  background: #07070795; /* 2 numbers at the end to adjust opacity*/
  padding: 50px;
  width: 800px;
  height: 400px;
  color: rgb(190, 218, 204);
}

.commandes {
  padding-bottom: 0;
  display: block;
  position: fixed;
  a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

article {
  color: rgb(190, 218, 204);
}

#button{
  height: 40px;
  width: 900px;
  padding-top: 4px;
  background: #000000;
  align-items: center;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.btn{
  width: 16px;
  height: 16px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
}

.btn:nth-child(1){
  background: #e63402;
}
.btn:nth-child(2){
  background: #e69e02;
}
.btn:nth-child(3){
  background: #02e656;
}

.header {
  width: 100%;
  padding: 15px;
  background: #333;
  border-radius: 7px 7px 0 0;
}

.dot {
  height: 15px;
  width: 15px;
  background: #ED594A;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}

p {
  font-size: 30px;
}

.glow-btn {
  background: #07070795;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: myFont;
  font-size: 20px;
  color: #27b73f;
}

footer {
  padding-top: 768px;
}

img {
  width: 300px;
  padding: 30px;
  opacity: 0; 
  transform: translateY(10px); 
  animation: fadeIn 0.6s ease forwards; 
  box-shadow: 10px 10px 10px black; 
  border-radius: 20%;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(59, 78, 65); 
}

@media (max-width: 600px) {
  nav {
    width: 500px;
  }
  .container {
    width: 400px;
    height: 200px;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
  
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  } 
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@font-face {
  font-family: "myFont";
  src: url("pixelFont.otf");
}
