/* PALETTE COULEURS - NINTENO SWITCH EDITION
#00c3e3	BLEU
#ff4554	SAUMON
#989898	GRIS CLAIR
#414548	GRIS FONCÉ
#e60012 ROUGE
*/

html {
    background-color: rgb(232, 233, 213);
    font-family: NintendoFont;
}

header, footer {
    background-color: #e60012;
    color: rgb(232, 233, 213);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    a, li {
        color: rgb(232, 233, 213);
        list-style: none;
        text-decoration: none;
    }
    a:hover {
       color: #00c3e3; 
    }
}

a {
    color:black; ;
}
a:hover {
    color: #ff4554;
}

article {
    background-color: snow;
    border-radius: 30px;
    padding: 50px;
    border: #00c3e3 solid 10px;
    p, div {
        font-family: 'Times New Roman', Times, serif;
    }
}

#presentation {
    filter: drop-shadow(10px 10px 4px #414548);
    width: 500px;
    background-color: #989898;
    padding: 10px;
    border-radius: 30px;
}

section {
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

@font-face {
    font-family: NintendoFont;
    src: url(Pretendo.ttf);
}